.bingo {
  text-align: center;
  background-color: #222;
}

.bingo-main {
  padding-top: 20px;
  color: white;
}

.bingo-main p {
  font-size: 8.0em;
  font-weight: bold;
  margin: 20px;
}

.next {
  width: 140px;
  height: 140px;
  color: #fff;
  font-size: 1.8em;
  background: #4682b4;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  outline: none;
}

